/problema01/ejercicio_01/target/
/problema01/Problema_01/nbproject/private/
/problema01/Problema_01/build/
/problema02/Problema_02/nbproject/private/
/problema02/Problema_02/build/
/problema03/Problema_03/nbproject/private/
/problema03/Problema_03/build/
/problema04/Problema_04/nbproject/private/
/problema04/Problema_04/build/
/problema05/Problema_05/nbproject/private/
